:root{
    --principal: #338a5f;
    --branco: #ebf0f1;
    --destaque:#f58c95;

    font-family: Helvetica;
}

.logo-greengo{
    padding-top: 5px;
}

/**HEADER-INDEX.HTML**/

body.header-index{
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    background-color: var(--principal);
    text-decoration: none;
}

.cabecalho-index{
    display:flex;
    flex-direction: row;
    align-items: flex center;
    justify-content: space-between;
    background-color: var(--principal);
}

.cabecalho-index-menu{
    display: flex;
    gap: 1em;
    font-size: 25px;
    margin-top: 1.2em;
}

.cabecalho-index-menu-item{
    color: var(--branco);
    text-align: right;
    text-decoration: none;
    padding-top: 5px;
    cursor: pointer;
}

.cabecalho-index-menu-itemB{
    color: var(--principal);
    font-weight: 600;
    text-decoration: none;

    text-align: center;
    align-items: center;
    background-color: var(--branco);

    margin-right: 1.5em;
    width: auto;
    height: min-content;
    border-radius: 5px; 
    padding: 5px;
    border: none;
    cursor: pointer;
}

/**FOOTER.HTML**/

body.footer{
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    background-color: var(--branco);
    text-decoration: none;
    display: center;

    position: absolute;
    bottom: 0;
}

.rodape-texto{
    font-family: cursive;
    color: var(--principal);
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}