:root {
    --principal: #338a5f;
    --verdao: #04574d;
    --branco: #ebf0f1;
    --branquinho: #ebf0f14b;
    --destaque: #f58c95;
    --rosinha: #f0b6bc;

    font-family: Helvetica;

}

/**FUNDO BRANCO**/

body.fundo-branco {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: var(--branco);
    text-decoration: none;

}

.img-top{
    width: 20%;
    position: fixed;
    left: 79%;
    top: -5%;
}

.img-bottom{
    width: 27%;
    position: fixed;
    left: -2%;
    bottom: -10%;
}

.container {
    width: 100%;
    position: absolute;
    top:25%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: justify;

}

.login-form {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h2.titulo-form {
    color: var(--principal);
    font-size: 35pt;
    font-weight: bold;
    text-align: left;
    margin-top: 0;
    margin-bottom: 20px;

}

label {
    color: var(--principal);
    font-size: 18pt;
    margin-top: 5px;
}

input.input-form {
    font-size: 14pt;
    color: #021a17;
    height: 40px;
    width: 500px;
    background-color: var(--rosinha);
    padding-left: 1em;
    margin-top: 5px;
    margin-bottom: 10px;
    box-shadow: none;
    border: none;
}

a.restaurar-senha-form{
    color: var(--verdao);
    font-size: 14pt;
    text-decoration: none;
    padding-left: 20px;
}

.entrar-btn {
    background-color: var(--principal);
    color: var(--branco);
    font-size: 25pt;
    letter-spacing: 0.08em;
    font-weight:bold;

    border: none;
    border-radius: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 3px;
    margin-top: 25px;
}

span {
    width: 100%;
    color: var(--verdao);
    font-size: 14pt;
    text-decoration: none;
    text-align:end!important; /*ALINHAR COM O FINAL DA DIV DO FORM*/
    padding-left: 5em;
}

.link-cadastro {
    color: var(--verdao);
    text-decoration: none;
    font-weight: 550;
 
}
