:root {
    --principal: #338a5f;
    --verdao: #04574d;
    --branco: #ebf0f1;
    --branquinho: #ebf0f14b;
    --destaque: #f58c95;
    --rosinha: #f0b6bc;
    --cinza: #586660;

    width: 100%;
    height: 100%;

    font-family: Poppins-regular, Roboto;
}

@font-face {
    font-family: 'Cooper';
    src: url('../fontes/cooperhewitt-heavy.otf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontes/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'Poppins-regular';
    src: url('../fontes/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-semibold';
    src: url('../fontes/Poppins-SemiBold.ttf');
}


#formtexto {
    width: 500px;
    background-color: var(--rosinha);
    height: 47px;
    margin-right: auto;
    border-radius: 0%;
    font-family: Poppins;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: -5px;
    border-color: var(--rosinha);
    position: relative;

}

#texto {
    color: #338A5F;
    font-family: Poppins-semibold;

}

#caixinha-cad {
    width: 250px;
    height: 45px;
    border-radius: 0%;
    background-color: var(--rosinha);
    color: var(--verdao);
    cursor: pointer;
    border-color: var(--rosinha);
    position: relative;
    margin: 0 auto;
}

#h1 {
    color: var(--principal);
    font-family: Poppins;
    margin-top: 110px;
    font-size: 50px;
    margin-left: -5px;
    position: relative;
}

#texto-caixinhas {
    color: var(--principal);
    font-family: Poppins-semibold;
}

#senha-cadastro {
    margin-top: -20px;
    font-size: 13px;
    margin-left: 15px;
    margin-bottom: 20px;
}

#botaocadastro {
    color: var(--branco);
    background-color: var(--principal);
    border-radius: 5px;
    height: 50px;
    width: 160px;
    font-family: Poppins-semibold;
    font-size: 20px;

}

#jatemumaconta {
    margin-left: 90px;
    color: var(--verdao);
    position: relative;
}

#entrar {
    color: var(--verdao);
    cursor: pointer;
    font-family: Poppins-semibold;
}

#imagemcentrocad {
    text-align: right;
    display: inline-box;
    margin-left: 50%;
    position: absolute;
    background-color: var(--principal);
    height: 785px;

}

#comece {
    text-align: right;
    background-color: var(--principal);
    position: relative;

}

body {
    background-image: linear-gradient(to right, #ebf0f1 0, #338a5f 56%, #338a5f 44%);
}

a:hover{
    text-decoration: none;

}

#pp {
    font-family: Poppins;
    color: var(--branco);
    font-size: 36px;
    margin-top: -50px;
}

#icon {
    margin-top: -60px;
    margin-left: 10px;

    position: relative;
}