:root {
    --principal: #338a5f;
    --verdao: #04574d;
    --branco: #ebf0f1;
    --branquinho: #ebf0f14b;
    --destaque: #f58c95;
    --rosinha: #f0b6bc;
    --cinza: #586660;
    --cinzinha: #d3dadb;

    width: 100%;
    height: 100%;

    font-family: Poppins-regular, Roboto;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontes/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'Poppins-regular';
    src: url('../fontes/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-semibold';
    src: url('../fontes/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'Poppins-medium';
    src: url('../fontes/Poppins-Medium.ttf');
}


body {
    background-image: linear-gradient(to right, #ebf0f1 0, #ebf0f1 60%, #338a5f 40%);
    color: var(--verdao);
    min-height: 100%;
    overflow-x: hidden;
}

.formulario {
    margin-left: 60px;
    margin-right: 20px;
}

.titulo {
    color: var(--principal);
    font-family: Poppins;
    margin-top: 110px;
    font-size: 50px;
    margin-left: -5px;
    margin-top: 60px;
    position: relative;
}

input[type=text],
input[type=password],
input[type=email],
input[type=text]:hover,
input[type=password]:hover,
input[type=email]:valid,
input[type=text]:valid,
input[type=password]:valid,
input[type=email]:hover,
input[type=text]::after,
input[type=password]::after,
input[type=email]::after  {
    width: 480px;
    background-color: var(--rosinha);
    height: 45px;
    margin-right: auto;
    border-radius: 0%;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: -5px;
    border-color: var(--rosinha);
    position: relative;
    font-family: Poppins-regular;
    transition: 0.3s all ease;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
    background-color: var(--branco);
    border: 2px solid var(--rosinha);
    box-shadow: var(--rosinha);
}

/**
input[type=text]:invalid,
input[type=password]:invalid,
input[type=email]:invalid {
    background-color: var(--destaque);
    border: var(--destaque);
}
**/

.mensagem-erro {
    color: var(--destaque);
    font-family: Poppins-medium;
    margin-top: -20px;
    font-size: 13px;
    margin-left: 15px;
    margin-bottom: 20px;
}


label {
    color: var(--principal);
    font-family: Poppins-semibold;
}

#caixinha-cad {
    width: 250px;
    height: 45px;
    border-radius: 0%;
    background-color: var(--rosinha);
    color: var(--verdao);
    cursor: pointer;
    border-color: var(--rosinha);
    position: relative;
    margin: 0 auto;
}

select {
    font-family: Poppins-regular;
}

select:focus {
    box-shadow: none !important;
}

#texto-caixinhas {
    color: var(--principal);
    font-family: Poppins-semibold;
}

.senha-cadastro {
    color: var(--verdao);
    margin-top: -20px;
    font-size: 13px;
    margin-left: 15px;
    margin-bottom: 20px;
}

#botaocadastro {
    color: var(--branco);
    background-color: var(--principal);
    border: none;
    border-radius: 5px;
    width: max-content !important;
    height: max-content !important;
    padding-left: 25px;
    padding-right: 25px;
    font-family: Poppins-semibold;
    font-size: 25px;
    transition: 0.3s ease;
    display: inline-block;
}

#botaocadastro:hover {
    transform: scale(1.05);
    text-decoration: none;
}

#jatemumaconta {
    margin-left: 90px;
    color: var(--verdao);
    position: relative;
}

#entrar {
    color: var(--verdao);
    cursor: pointer;
    font-family: Poppins-semibold;
}

#entrar:hover {
    color: inherit;
    text-decoration: none;
}

.termos {
    color: var(--cinza);
    font-size: 16px;
    margin-top: 10px;
    opacity: 70%;
}

a.termos {
    color: var(--cinza);
    text-decoration: none;
    text-decoration: underline;
    font-size: 14px;
}

a:hover {
    color: inherit !important;
    text-decoration: none !important;
}

.logo-div {
    display: block;
    margin: auto;
    height: 101vh;
    width: auto !important;
    position: fixed;
    bottom: 0;
    background-color: var(--principal);

}

.col-logo {
    background-color: var(--principal);
    padding: 0 !important;
    flex: none;

}

.vazio {
    background-color: var(--principal);
}

.comece {
    height: 100vh;
    background-color: var(--principal);
    padding: 0 !important;
}

.aventura {
    font-family: Poppins;
    color: var(--branco);
    font-size: 2.2vw;
    margin-right: 15px;
}

#icon {
    height: 95px;
    margin-bottom: 15px;
    margin-right: 25px;
}


@media (max-width: 768px) {
    body {
        background-color: var(--branco) !important;
        background-image: none;
    }

    .logo-div {
        height: 50vh !important;
        content: "/a";
        white-space: pre;
        position: relative;
        margin-left: 0;
    }

    .comece {
        height: auto;
    }

    .aventura {
        font-size: 22px;
    }
}
#menuicon{
    width: 40px;
    
}