:root {
    --principal: #338a5f;
    --verdao: #04574d;
    --branco: #ebf0f1;
    --branquinho: #ebf0f14b;
    --destaque: #f58c95;
    --rosinha: #f0b6bc;
    --cinza: #586660;

    width: 100%;
    height: 100%;

    font-family: Poppins-regular, Roboto;
}

@font-face {
    font-family: 'Cooper';
    src: url('../fontes/cooperhewitt-heavy.otf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontes/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'Poppins-regular';
    src: url('../fontes/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-medium';
    src: url('../fontes/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Poppins-semibold';
    src: url('../fontes/Poppins-SemiBold.ttf');
}


header,
.navbar {
    background-color: var(--branco);

}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0%;

    background-color: var(--principal);
}

#logo {
    width: 75px;

}

#botaoentrar {
    font-weight: 700;
    color: var(--branco);
    cursor: pointer;

}

.navbar-brand {
    padding: 0;
    color: #fff;
    font-size: 5px;

}

.navbar-brand:hover {
    color: #fff;
}

#navbar-links a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    height: min-content;

}


#navbar-links {
    font-weight: 5;
}

#menu {
    margin: 0 auto;
}

#navbar-links a {
    color: var(--principal);
    cursor: pointer;
    height: min-content;
    font-family: Poppins-regular;
    margin-left: 35px;
    font-size: 20px;
    padding: 1rem .8rem;
    text-align: right;

}

.img-responsive {
    width: 130px;
}

body {
    background-color: var(--branco);
    color: var(--verdao);
}

.titulo{
    margin-bottom: 20px;
}

.popular{
    color: var(--principal);
    font-family: Poppins;
    margin-top: 50px;
    font-size: 60px;
    margin-left: 10px;

}

.cientifico{
    color: var(--principal);
    font-family: Poppins;
    font-style: italic;
    font-size: 25px;
    margin-left: 10px;
}

.pontos{
    color: var(--principal);
    font-family: Poppins;
    font-size: 30px;

}

.img-especie{
    margin: auto;    
    display: block;
    border-radius: 5px;
}

.atributos{
    color: var(--branco);
    background-color: var(--destaque);
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 5px;
    margin-right: 25px;
    margin-bottom: 10px;
    border-radius: 40px;
}

.descricao{
    font-size: 20px;
    margin-top: 10px;
}

.botoes{
    margin-top: 30px;
}

.continuar{
    color: var(--branco);
    background-color: var(--principal);
    border: none;
    border-radius: 5px;
    width: max-content !important;
    height: max-content !important;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Poppins-semibold;
    font-size: 28px;
    transition: 0.3s ease;
    display: inline-block;
}

.continuar:hover{
    color: var(--branco);
    transform: scale(1.05);
    text-decoration: none;
}

.pontuacao{
    font-family: Poppins-semibold;
    color: var(--principal);
    margin-top: 20px;
}

.subtitulo{
    color: var(--principal);
    font-family: Poppins;
    margin-top: 30px;
    font-size: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
}

img.mais{
    height: 50px !important; 
    transition: 0.3s ease;
}

.mais:hover{
    transform: scale(1.05);
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: inherit;
    text-decoration: none;
}

.individuo{
    transition: 0.3s ease;
    display: inline-block;
    margin-bottom: 25px;
    outline: 0 solid var(--rosinha);

}

.individuo:hover{
    background-color: var(--rosinha);
    transition: 0.3s ease;
    box-shadow: 0 0 0 10px  var(--rosinha);

}

.img-ind{
    height: 200px;
    margin: auto;    
    display: block;
    border-radius: 5px;
}

.qrcode{
    color: var(--branco);
    background-color: var(--rosinha);
    border: 2px solid var(--rosinha);
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Poppins-medium;
    font-size: 16px;
    transition: 0.3s ease;
    display: inline-block;
}

a.qrcode:hover{
    color: var(--rosinha);
    background-color: transparent;
    border-radius: 5px;
}

a.editar{
    color: var(--branco);
    background-color: var(--principal);
    border: none;
    border-radius: 5px;
    width: max-content !important;
    height: max-content !important;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Poppins-semibold;
    font-size: 22px;
    transition: 0.3s ease;
    display: inline-block;
}

a.editar:hover{
    color: var(--branco);
    transform: scale(1.05);
    text-decoration: none;
}

a.vermais{
    color: var(--branco);
    background-color: var(--rosinha);
    border: none;
    border-radius: 5px;
    width: max-content !important;
    height: max-content !important;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Poppins-semibold;
    font-size: 22px;
    transition: 0.3s ease;
    display: inline-block;
}

a.vermais:hover{
    color: var(--branco);
    transform: scale(1.05);
    text-decoration: none;
}

.excluir{
    color: var(--principal);
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid var(--principal);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Poppins-medium;
    font-size: 20px;
    transition: 0.3s ease;
    margin-left: 10px;
    margin: auto;

    display: inline-block;
}

a.excluir:hover{
    color: var(--branco);
    background-color: var(--principal);
    border-radius: 5px;
    text-decoration: none;
}
