:root {
    --principal: #338a5f;
    --verdao: #04574d;
    --branco: #ebf0f1;
    --branquinho: #ebf0f14b;
    --destaque: #f58c95;
    --rosinha: #f0b6bc;
    --cinza: #586660;
    --cinzinha: #d3dadb;

    width: 100%;
    height: 100%;

    font-family: Poppins-regular, Roboto;
}

@font-face {
    font-family: 'Cooper';
    src: url('../fontes/cooperhewitt-heavy.otf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontes/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'Poppins-regular';
    src: url('../fontes/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-semibold';
    src: url('../fontes/Poppins-SemiBold.ttf');
}

#itemmenu {
    display: flex;
    font-size: 1.3em;
    margin-left: 50px;
    color: var(--principal);
    text-decoration: none;
    padding-top: 0.3em;
    cursor: pointer;
    height: min-content;
    font-family: Poppins-regular;
    font-size: 19px;

}

#navbar-links {
    margin-right: 90px;

}

#navbar-links a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    height: min-content;

}

#logo {
    width: 100px;
    margin-top: 20px;
    margin-left: 15px;

}

body {
    background-color: var(--branco);
}

#mapa-da-home {
    width: 100%;
    margin-top: 100px;
    cursor: pointer;
}

#about-area h1 {
    color: var(--principal);
    font-family: Poppins-semibold;
    font-size: 60px;
}

#about-area button {
    background-color: var(--principal);
    border: none;
    height: 70px;
    width: 200px;
    left: 150px;
    top: 573px;
    border-radius: 9px;
    font-family: Poppins-semibold;
    font-size: 28px;
    margin-top: 20px;

}

.jogar {
    background-color: var(--principal);
    border: none;
    height: 70px;
    width: 200px;
    left: 150px;
    top: 573px;
    border-radius: 9px;
    font-family: Poppins-semibold;
    font-size: 28px;
    margin-top: 20px;
    padding-top: 15px;
}

#textoindex {
    margin-right: 62px;
}

.dropdown-menu {
    font-family: Poppins-semibold;
    background-color: var(--principal);
}

.dropdown-menu a {
    color: var(--branco);
}

.quadrado {
    width: 300px;
    height: max-content;
    margin-right: 30px;
    margin-left: 30px;
    padding: 30px;
    background: var(--rosinha);
    margin-top: 100px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

.quadrado p {
    color: var(--branco);
    text-align: center;
    margin-top: 50px;
    font-family: Poppins-semibold;
    font-size: 20px;
}

.quadrado img {
    width: 100px;
    text-align: center;
    margin-top: 55px;
    margin-left: 100px;
}

#imagenscaixas {
    margin: auto;
    display: block;
}

#finalhome {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#imggrengo {
    width: 400px;
}

#imagem-celular {
    margin-top: 40px;
}

#botaoentrar {
    display: flex;
    font-size: 1.3em;
    margin-left: 50px;
    color: var(--principal);
    text-decoration: none;
    padding-top: 0.3em;
    cursor: pointer;
    height: min-content;
    font-family: Poppins-regular;
    font-size: 19px;
    font-weight: bold;
}