:root {
    --principal: #338a5f;
    --verdao: #04574d;
    --branco: #ebf0f1;
    --branquinho: #ebf0f14b;
    --destaque: #f58c95;
    --rosinha: #f0b6bc;
    --cinza: #586660;
    --cinzinha: #d3dadb;

    width: 100%;
    height: 100%;

    font-family: Poppins-regular, Roboto;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontes/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'Poppins-regular';
    src: url('../fontes/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-medium';
    src: url('../fontes/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Poppins-semibold';
    src: url('../fontes/Poppins-SemiBold.ttf');
}


header,
.navbar {
    background-color: var(--branco);

}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0%;

    background-color: var(--principal);
}

#logo {
    width: 75px;

}

#botaoentrar {
    font-weight: 700;
    color: var(--branco);
    cursor: pointer;

}

.navbar-brand {
    padding: 0;
    color: #fff;
    font-size: 5px;

}

.navbar-brand:hover {
    color: #fff;
}

#navbar-links a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    height: min-content;

}


#navbar-links {
    font-weight: 5;
}

#menu {
    margin: 0 auto;
}

#navbar-links a {
    color: var(--principal);
    cursor: pointer;
    height: min-content;
    font-family: Poppins-regular;
    margin-left: 35px;
    font-size: 20px;
    padding: 1rem .8rem;
    text-align: right;

}

.img-responsive {
    width: 130px;
}

body {
    background-color: var(--branco);
    color: var(--verdao);
}

.titulo{
    color: var(--principal);
    font-family: Poppins;
    margin-top: 50px;
    font-size: 60px;
    margin-left: 10px;
    margin-bottom: 40px;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: inherit;
    text-decoration: none;
}

.row{
    margin-left: -15px;
}

.col{
    margin-left: -10px;
}

p{
    font-family: Poppins-medium;
    font-size: 20px;
}

td{
    border: none !important;
    font-family: Poppins-regular;
    font-size: 18px;
    color: var(--verdao);
}

th{
    border: none !important;
    font-family: Poppins-semibold;
    color: var(--verdao);
    font-size: 20px !important;
}

th.id{
    font-family: Poppins-regular;
}

.linha{
    border-bottom: 2px solid var(--rosinha);
    transform: 0.3s ease all !important;

}

.linha:hover{
    background-color: var(--rosinha);
    transform: 0.3s ease all;
}

.img-coroa{
    height: 30px !important;
    margin-left: 20px;
}
