:root {
    --principal: #338a5f;
    --verdao: #04574d;
    --branco: #ebf0f1;
    --branquinho: #ebf0f14b;
    --destaque: #f58c95;
    --rosinha: #f0b6bc;
    --cinza: #586660;
    --cinzinha: #d3dadb;

    width: 100%;
    height: 100%;

    font-family: Poppins-regular, Roboto;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontes/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'Poppins-regular';
    src: url('../fontes/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-semibold';
    src: url('../fontes/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'Poppins-medium';
    src: url('../fontes/Poppins-Medium.ttf');
}

body {
    background-color: var(--branco) !important;
    color: var(--verdao);
}

.img-top {
    width: 20%;
    position: fixed;
    left: 79%;
    top: -5%;
}

.img-bottom {
    width: 30%;
    position: fixed;
    left: -2%;
    bottom: -10%;
}

.centrao {
    margin: auto;
    position: absolute;
  top: 50%;
  transform: translateY(50%);
}

.titulo {
    color: var(--principal);
    font-family: Poppins;
    font-size: 50px;
    margin-left: -5px;
    position: relative;
}

label {
    color: var(--principal);
    font-family: Poppins-semibold;
}

input[type=text],
input[type=password],
input[type=email],
input[type=text]:hover,
input[type=password]:hover,
input[type=email]:hover,
input[type=text]::after,
input[type=password]::after,
input[type=email]::after {
    width: 480px;
    background-color: var(--rosinha);
    height: 45px;
    margin-right: auto;
    border-radius: 0%;
    margin-bottom: 20px;
    margin-top: -5px;
    border-color: var(--rosinha);
    position: relative;
    font-family: Poppins-medium;
    transition: 0.3s all ease;
    color: var(--branco) !important;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
    background-color: var(--branco);
    border: 2px solid var(--rosinha);
    box-shadow: var(--rosinha);
    color: var(--verdao) !important;
}

input[type=text].error,
input[type=password].error,
input[type=email].error {
    background-color: var(--destaque);
    border: var(--destaque);
}

.mensagem{
    background-color: var(--destaque) !important;
    padding: 10px;
}

.img-erro{
    margin: auto;
    display: inline-block;
    height: 23px;
    margin-left: 20px;
}

.mensagem-erro {
    color: var(--branco);
    font-family: Poppins-regular;
    margin: auto;
    display: inline-block;
    font-size: 15px;
    margin-left: 30px;
}

a.restaurar-senha-form {
    color: var(--verdao);
    font-size: 14pt;
    text-decoration: none;
    padding-left: 20px;
}

#botaologin {
    color: var(--branco);
    background-color: var(--principal);
    border: none;
    border-radius: 5px;
    width: max-content !important;
    height: max-content !important;
    padding-left: 35px;
    padding-right: 35px;
    font-family: Poppins-semibold;
    font-size: 25px;
    transition: 0.3s ease;
    display: inline-block;
}

#botaologin:hover {
    transform: scale(1.05);
    text-decoration: none;
}

.novoporaqui {
    margin-left: 90px;
    color: var(--verdao);
    position: relative;
    padding-right: -15px;
}

#cadastro {
    color: var(--verdao);
    cursor: pointer;
    font-family: Poppins-semibold;
}

#cadastro:hover {
    color: inherit;
    text-decoration: none;
}
