:root {
    --principal: #338a5f;
    --verdao: #04574d;
    --branco: #ebf0f1;
    --branquinho: #ebf0f14b;
    --destaque: #f58c95;
    --rosinha: #f0b6bc;


    font-family: Poppins-regular, Roboto;
}



@font-face {
    font-family: 'Cooper';
    src: url('../fontes/cooperhewitt-heavy.otf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontes/Poppins-ExtraBold.ttf');
}
@font-face {
    font-family: 'Poppins-regular';
    src: url('../fontes/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins-semibold';
    src: url('../fontes/Poppins-SemiBold.ttf');
}


#itemmenu  {
    display: flex;
    font-size: 1.3em;
    margin-left: 50px;
    color: #338a5f;
    text-decoration: none;
    padding-top: 0.3em;
    cursor: pointer;
    height: min-content;
    font-family: Poppins-regular;
    font-size: 19px;


}
#navbar-links{
    margin-right: 90px;
    
}

#navbar-links a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    height: min-content;

}
#logo{
    width: 100px;
    margin-top: 20px;
    margin-left: 15px;

}
body{
    background-color: var(--branco);
}

#mapa-da-home{
   
    
    margin-top: 100px;
   cursor: pointer;
   
   

}
#botaoentrar{
    display: flex;
    font-size: 1.3em;
    margin-left: 50px;
    color: #338a5f;
    text-decoration: none;
    padding-top: 0.3em;
    cursor: pointer;
    height: min-content;
    font-family: Poppins-regular;
    font-size: 19px;
    font-weight: bold;
}
#botoesmapa{
    margin-top: 100px;
    text-align: center;
}

#botaozona{
    width: 120px;
    height: 50px;
    margin-right: 30px;
    font-family: Poppins-regular;
    color: #338a5f;
    border-color: #338a5f;
    border-radius: 9px;
    text-decoration: none;
    background-color: #ebf0f1;
    border-width: 2px;
    font-size: 20px;
    margin-top: 20px;
}
#todosbotao{
    width: 120px;
    height: 50px;
    margin-right: 25px;
    background-color: #EA8C94;
    border: none;
    font-size: 20px;
    font-family: Poppins-regular;
    border-radius: 9px;
    margin-top: 20px;
}

#botoesfileira2{
    width: 110px;
    height: 40px;
    margin-right: 5px;
    font-family: Poppins-regular;
    color: #338a5f;
    border-color: #338a5f;
    border-radius: 9px;
    text-decoration: none;
    background-color: #ebf0f1;
    border-width: 2px;
    font-size: 17px;
    margin-top: 20px;
}
#linhasecundaria{
    margin-left: 20px;
}