:root {
    --principal: #338a5f;
    --verdao: #04574d;
    --branco: #ebf0f1;
    --branquinho: #ebf0f14b;
    --destaque: #f58c95;
    --rosinha: #f0b6bc;

    font: Poppins-regular, Roboto;


}

@font-face {
    font-family: 'Cooper';
    src: url('../fontes/cooperhewitt-heavy.otf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontes/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'Poppins-regular';
    src: url('../fontes/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-semibold';
    src: url('../fontes/Poppins-SemiBold.ttf');
}


header,
.navbar {
    background-color: var(--branco);

}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0%;

    background-color: var(--principal);
}

#logo {
    width: 75px;

}

#botaoentrar {
    font-weight: 700;
    color: var(--branco);
    cursor: pointer;

}

.navbar-brand {
    padding: 0;
    color: #fff;
    font-size: 5px;

}

.navbar-brand:hover {
    color: #fff;
}

#navbar-links a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    height: min-content;

}


#navbar-links {
    font-weight: 5;
}

#menu {
    margin: 0 auto;
}

#navbar-links a {
    color: var(--principal);
    cursor: pointer;
    height: min-content;
    font-family: Poppins-regular;
    margin-left: 35px;
    font-size: 20px;
    padding: 1rem .8rem;
    text-align: right;

}

.img-responsive {
    width: 130px;
}

body {
    background-color: var(--branco);
    color: var(--verdao);
}

.titulo{
    color: var(--principal);
    font-family: Poppins;
    margin-top: 50px;
    font-size: 60px;
    margin-left: 10px;
    margin-bottom: 40px;
}

img.isologo{
    height: 60px;
    margin-bottom: 10px;
    margin-right: 10px;
}

p{
    font-size: 20px;
    margin-left: 10px;
}

.subtitulo{
    color: var(--principal);
    font-family: Poppins;
    margin-top: 50px;
    font-size: 40px;
    margin-left: 10px;
    margin-bottom: 40px;
}

iframe.maps{
    width: 1104px;
    height: 542px;
    border-style: none;
    border-radius: 1em;
}

.img-coord{
    margin-left: 10px;
}

img.coordenador{
    height: 330px;
    border-radius: 100%;
    padding: 0;
    background-color: #BCC4C4;
    margin-bottom: 40px;
}

.txt-coord{
    font-size: 25px;
    margin-top: 130px;
    margin-left: 30px;

} .txt-coord[small]{
    font-size: 20px;
}

img.alunas{
    width: 1104px;
    border-style:none;
    border-radius: 1em;
}

.membro{
    font-size: 20px;
    margin-top: 20px;

} .membro[small]{
    font-size: 15px; 
}

.img-medalha{
    width: 1104px;
    border-style:none;
    border-radius: 1em;
    margin-bottom: 10px;
}

#medalhistas{
    font-size: 20px;
}

#ifpr{
    width: 330px;
    margin-right: 30px;
} 

#nit{
    height: 100px;
}