:root {
    --principal: #338a5f;
    --verdao: #04574d;
    --branco: #ebf0f1;
    --branquinho: #ebf0f14b;
    --destaque: #f58c95;
    --rosinha: #f0b6bc;

    font-family: Helvetica;

}
@font-face {
    font-family: 'Cooper';
    src: url('../fontes/cooperhewitt-heavy.otf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontes/Poppins-ExtraBold.ttf');
}
@font-face {
    font-family: 'Poppins-regular';
    src: url('../fontes/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins-semibold';
    src: url('../fontes/Poppins-SemiBold.ttf');
}

header,
.navbar {
    background-color: var(--branco);
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
  margin-top: 0%;
   
    background-color: var(--principal);
}

#logo {
    width: 75px;
}

#botaoentrar {
    font-weight: 700;
    color: var(--branco);
    cursor: pointer;
}

.navbar-brand {
    padding: 0;
    color: #fff;
    font-size: 5px;
}

.navbar-brand:hover {
    color: #fff;
}

#navbar-links a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    height: min-content;
}

#navbar-links{
    font-weight: 5;
}

#menu{
    margin: 0 auto;
}

#navbar-links a{
   color: var(--principal);
   cursor: pointer;
   height: min-content;
   font-family: Poppins-regular;
   margin-left: 35px;
   font-size: 20px;
   padding: 1rem .8rem;
   text-align: right;

}
.img-responsive{
    width: 130px;
}

body{
    background-color: var(--branco);
}

#primeirotextoreg{
    color: var(--principal);
    font-family: Poppins;
    margin-top: 50px;
    font-size: 60px;
    margin-left: 10px;
    margin-bottom: 40px;
}

#picture__input {
    display: none;
}
  
  .picture {
    width: 400px;
    aspect-ratio: 16/9;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out, outline 300ms ease-in-out;
    overflow: hidden;
  }
  
  .picture:hover {
    color: #777;
    background: #ccc;
  }
  
  .picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
  }
  
  .picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .picture__img {
    max-width: 100%;
  }
  

  #pontos{
    margin-top: 15px;
   
  }

  *{
	margin:0 auto; 
	padding:0;
}

a{
	text-decoration:none;
}

#bar button{
	width:20px;
	height:20px;
	border:none;
	background-color:#EEE;
	outline:none;
}

#bar button:hover{
	background-color:#FFF;
}

#slFonte, #slSize{
	height:22px;
}

/* Begin format elements here*/

.btn{
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	cursor:pointer;
}

#btn_new{background-image: url("../img/new.png");}
#btn_delete{background-image: url("../img/delete.png");}

#btn_copy{background-image: url("../img/copy.png");}
#btn_cut{background-image: url("../img/cut.png");}
#btn_paste{background-image: url("../img/paste.png");}

#btn_undo{background-image: url("../img/undo.png");}
#btn_redo{background-image: url("../img/redo.png");}

#btn_bold{background-image: url("../img/font_bold.png");}
#btn_italic{background-image: url("../img/font_italic.png");}
#btn_underline{background-image: url("../img/font_underline.png");}

#btn_color{background-image: url("../img/edit_color.png");}
#btn_left{background-image: url("../img/text_align_left.png");}
#btn_center{background-image: url("../img/text_align_center.png");}
#btn_right{background-image: url("../img/text_align_right.png");}
#btn_justify{background-image: url("../img/text_align_justify.png");}

#btn_line{background-image: url("../img/line.png");}
#btn_unordered{background-image: url("../img/unordered.png");}
#btn_ordered{background-image: url("../img/ordered.png");}

#btn_link{background-image: url("../img/link.png");}
#btn_link_break{background-image: url("../img/link_break.png");}

#btn_image{background-image: url("../img/picture.png");}
#btn_audio{background-image: url("../img/audio.png");}

#btn_select{background-image: url("../img/select_all.png");}
#btn_paragraph{background-image: url("../img/paragraph.png");}


/* end format elements here*/

#dvCenterEditor{
	max-width:1028px;
	width:100%;
	height:auto;
}

#bar{
	width:100%;
	max-width:1028px;
	height:24px;
	padding-top:5px;
	padding-bottom:5px;
	background-color:#EEE;
}

#Editor{
	border:1px solid #111;
	max-width:1028px;
	width:100%;
	height:500px;
	overflow-x:hidden;
}

#texto{
    margin-left: 0% ;
    font-family: Poppins-semibold;
    color: var(--principal);
}

#caixa-adicione-individuos h4{
   margin-left: 5%;
}

#caixa-adicione-individuos{
    margin-top: 90px;
}

#mais-registro{
    width: 64px;
    margin-left: 70px;
}

#form-registro{
    margin-left: 90px;
}

.form-control{
   background-color: var(--rosinha);
   height: 45px;
}

#texto-checkbox{
    font-family: Poppins-regular;
    color: var(--verdao);
}

#container-checkbox a{
    font-family: Poppins-semibold;
    color: var(--principal);
}

#form-texto{
    margin-bottom: 40px;
}

.chk input {
    display: none;
    background-color: var(--verdao);
}

.chk span {
    width: 12px;
    height: 12px;
    display: block;
    
    border: 1px solid #DDD;
    background-color: var(--verdao);
}

.chk input:checked + span {
    background-color: #c03;
}

#indexinteiro{
    margin-right: 0%;
}

#primeirotextoreg1{
    color: var(--principal);
    font-family: Poppins;
    margin-top: 50px;
    font-size: 60px;
    margin-left: 0 auto;
    margin-bottom: 40px;
    text-align: left;

}

#cardreg{
    border-radius: 20px;
    background-color: var(--branco);
    border: none;
}
