

:root {
    --principal: #338a5f;
    --verdao: #04574d;
    --branco: #ebf0f1;
    --branquinho: #ebf0f14b;
    --destaque: #f58c95;
    --rosinha: #f0b6bc;

    font-family: Helvetica;

}

/*Geral*/ 
body{
   
    background-color: #338a5f;
    
}
.row{
    margin: 0;
}
.container{
    padding: 70px 0;
   
}

p,li{
    color: #444;
    font-size: 14px;
}

/*Barra de navegação*/
header, .navbar{
    background-color: #338a5f;
}
#nav-container{
    padding-top: 0;
    padding-bottom: 0;
    position: fixed;
    background: fixed;
    background-color: #338a5f;
}
#logo{
    width: 75px;
}
.navbar-brand{
    padding: 0;
    color: #fff;
    
}
.navbar-brand:hover{
    color: #fff;
}
#navbar-links a{
    display: flex;
 
    font-size: 1.3em;
    margin-left: 30px ;
    color: var(--branco);
    text-decoration: none;
    padding-top: 0.3em;
    cursor: pointer;
    height: min-content;
    
}
#navbar-links a:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    height: min-content;
    
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
    background: fixed;
    
    
}

#about-area{
   
   text-align: center;
   margin-top: 150px;
   font-family: Cooper, sans-serif;
   color: #ebf0f1;
}
 #about-area p{
    color: white;
    font-family: roboto;
    font-size: 22px;
    
 }
 #about-area h1{
    font-size: 55px;
 }
 #botao-mapa h3{
    background: #EBF0F1;
    width: 90px;
    height: 30px;
    cursor: pointer;
    font-family: sans-serif;
    color: #f58c95;
    border-radius: 20%;
    padding: 0%;
    text-decoration: none;
    margin-top: 5px;
    font-weight: bold;
    font-size: 25px;
    
    
 }
 button{
    border-radius: 10px;
    border-color: #EBF0F1
    
 }
 #home-dois h1{
    color: #EBF0F1;
    
    margin-top: 150px;
    font-size: 80px;
 }

 #botoes h3{
    background: #f58c95;
    color:#EBF0F1;
    cursor: pointer;
 }

 #botoes button{
    border-radius: 10px;
    border-color: #f58c95;
    background-color: #f58c95;
   
 }

 #itensmenu{
    position: fixed;
    background-color: #338a5f;
    top: 0px;
    width: 100%;
 }