:root {
    --principal: #338a5f;
    --verdao: #04574d;
    --branco: #ebf0f1;
    --branquinho: #ebf0f14b;
    --destaque: #f58c95;
    --rosinha: #f0b6bc;

    font-family: Helvetica;

}

@font-face {
    font-family: 'Cooper';
    src: url('cooperhewitt-heavy.otf');
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-ExtraBold.ttf');
}
@font-face {
    font-family: 'Poppins-regular';
    src: url('Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins-semibold';
    src: url('Poppins-SemiBold.ttf');
}









.row {
    margin: 0;
}

.container {
    padding: 70px 0;

}

p,
li {
    color: #444;
    font-size: 14px;
}

/*Barra de navegação*/
header,
.navbar {
    background-color: #338a5f;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
  
   
    background-color: #338a5f;
}

#logo {
    width: 75px;

}

#botaoentrar {
    font-weight: 700;

}

.navbar-brand {
    padding: 0;
    color: #fff;
    

}

.navbar-brand:hover {
    color: #fff;
}


#navbar-links a {
    display: flex;
    font-size: 1.3em;
    margin-left: 50px;
    color: var(--branco);
    text-decoration: none;
    padding-top: 0.3em;
    cursor: pointer;
    height: min-content;
    
    
}

#navbar-links a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    height: min-content;

}

.navbar-expand-lg .navbar-nav .nav-link {
    
  text-align: right;


}

#about-area {

    text-align: center;
    margin-top: 150px;
    font-family: Cooper;
    color: #ebf0f1;
}

#about-area p {
    color: white;
    font-family: roboto;
    font-size: 22px;
}

#about-area h1 {
    font-size: 55px;
    font-family: Cooper;
    font-size: 70px;

}

#botao-mapa h3 {
    background: #EBF0F1;
    width: 90px;
    height: 30px;
    cursor: pointer;
    font-family: sans-serif;
    color: #f58c95;
    border-radius: 20%;
    padding: 0%;
    text-decoration: none;
    margin-top: 5px;
    font-weight: bold;
    font-size: 25px;


}

button {
    border-radius: 10px;
    border-color: #EBF0F1
}


#botoes h3 {
    background: #f58c95;
    color: #EBF0F1;
    cursor: pointer;
    font-family: Roboto;
    font-size: 17px;
    font-weight: bold;
    margin: 10px;

}

#botoes button {
    border-radius: 10px;
    border-color: #f58c95;
    background-color: #f58c95;


}

#itensmenu{
    
    top: 0px;
    width: 100%;
}

#about-areafim h1 {
    font-family: Poppins;
    font-size: 70px;
    color: #EBF0F1;

}

#about-areafim h2 {
    font-family: Poppins;
    font-size: 40px;
    color: #EBF0F1;
}
#card{
    height: 30px;
    width: 15px;
}

/*Cadastro*/


.form-group h1{
    font-family: Poppins;
    font-size: 60px;
    margin-top: 100px;
}

.form-group {
    margin-left: 6rem;
    margin-right: 6rem;
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;

    align-items: flex-end;
    color: #338A5F;
   
} 
.label{
    font-family: Poppins regular;
}
.custom-control {
    margin-top: 30px;
    
}

#exampleInputEmail1{
    background-color: #f0b6bc;
    width: 520px;
    height: 60px;
    border-radius: 0%;
    border-color: #f0b6bc;
    text-decoration: none;
    
}

.col-auto my-1{
    background-color: #f0b6bc;
}
#exampleInputEmail2{
    background-color: #f0b6bc;
    width: 300px;
    height: 50px;
    border-radius: 0%;
    border-color: #f0b6bc;
    text-decoration: none;
    
}
.col-sm{
    position: relative;
}

#botaocadastro{
    background-color: #338a5f;
    position: absolute;
    width: 223px;
    height: 60px;
    border-radius: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    font-size: 27px;
    margin-top: 30px;
}

#oi{
    text-align: left;
}
 #imagemcentrocad{
    position: relative;
    height: 46em;
    width: 25em;
    
 }
#fundocadastro{
    width: 100%;
    height: 10rem;
    background-image: linear-gradient(to left,  #338a5f 50%,  #ebf0f1 50%);
}


#venhacon{
    font-family: Poppins;
    text-align: right;
    color: #EBF0F1;
    
   font-size:  30px;
  

}
#emailteste{
    background-color: #f0b6bc;
    width: 300px;
    height: 50px;
    border-radius: 0%;
    border-color: #f0b6bc;
    text-decoration: none;
    
}



#fundoindex{
    background-color: #338a5f;
}
.card-group{
    display:flex;
    
}
#card{
    margin: 15px;
    border-radius: 5px;
    cursor: pointer;
}
#parte h5{
    color: #EBF0F1;
    size: 55px;
    font-family: Poppins;
    margin-left: 15px;
    
}
#finalhome{
    background-color: #338A5F;
    margin-left: auto;
    margin-right: auto;
    display: block
    ;
}

#segundacolunaindex h5{
    color: #EBF0F1;
    size: 55px;
    font-family: Poppins;
    
    
}

#rodapezinho{
    background-color: #EBF0F1;
}
#primeirotextoindex{
    text-align: left;
    
    margin-bottom: 120px;
}
#dropdownMenuButton{
   margin-top: 200px;
   background-color: #103D37;
    text-decoration: none;
    color: (--verdao);
    width: 230px;
    height: 93px;
    border-radius: 10px;
    font-family: Poppins-semibold;
    font-style: bold;
    font-size: 35px;
    margin-left: 150px;
     
}

#mapa-home{
    background-image: url(../Vector\ 8.svg);
    position: relative;
    
    
    
}
#mapa-da-home{
    margin-top: 60px;
    max-width: 100%;  height: auto;
    margin-bottom: 235px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#parte h5{
    margin-top: 100px;
}
#mapa-home h1{
    font-family: Poppins;
    color: #EBF0F1;
    text-align: center;
}
#imagem-celular{
    max-width: 100%;  height: auto;
}
#mapa-home h1{
    margin-top: 110px;
}
#desenvolvedoras-home{
    background-image: url(../Vector\ 9.svg);
}
#fotonossa{
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    display: block;
    max-width: 60%;  height: auto;
    margin-bottom: 60px;
    margin-top: 130px;
}
#desenvolvedoras-home h3{
    font-family: Poppins;
    color: #EBF0F1;
    text-align: center;
    margin-bottom: 185px;

}
#parte{
    
    box-sizing: border-box;
}
#parte h3{
    font-family: Poppins-semibold;
    color: #EBF0F1;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 60px;
    
}
#slider{
    position: relative;
  padding: 15px;
  max-width: 1300px;
  margin-bottom: 150px;

}

.gallery-wrapper {
  overflow-x: auto;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 15px;
  line-height: 250px;
  width: 40px;
  color: #fff;
  transition: all 600ms ease-in-out;
  background: linear-gradient(to left, transparent 0%, transparent 0%);
  opacity: 1;
  cursor: pointer;
  border: none;
  color: #103D37;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
  text-decoration: none;
}

.arrow-right {
  right: 0;
  left: auto;
  text-align: left;
  background: linear-gradient(to right, transparent 0%,transparent 0%);
}

.gallery {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
}

.item {
    width: 245px;
    height: 381px;
  flex-shrink: 0;
    
}

.current-item {
  opacity: 1;
  margin-left: 15px;
  margin-right: 15px;
}


.gallery-wrapper::-webkit-scrollbar {
  display: none;
}

.gallery-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
#indexinteiro{
    background-color: #338A5F;
}