:root {
    --principal: #338a5f;
    --verdao: #04574d;
    --branco: #ebf0f1;
    --branquinho: #ebf0f14b;
    --destaque: #f58c95;
    --rosinha: #f0b6bc;

    font: Poppins-regular, Roboto;

}

@font-face {
    font-family: 'Cooper';
    src: url('../fontes/cooperhewitt-heavy.otf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontes/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'Poppins-regular';
    src: url('../fontes/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-semibold';
    src: url('../fontes/Poppins-SemiBold.ttf');
}


header,
.navbar {
    background-color: var(--branco);

}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0%;

    background-color: var(--principal);
}

#logo {
    width: 75px;

}

.img-responsive {
    width: 130px;
}

body {
    background-color: var(--branco);
    color: var(--verdao);
    text-align: justify;
}

.titulo{
    color: var(--principal);
    font-family: Poppins;
    margin-top: 50px;
    font-size: 60px;
    margin-left: 10px;
    margin-bottom: 40px;
}

p{
    font-size: 20px;
    margin-left: 10px;
    text-align: justify;
}

.assinatura{
    background-color: #f0b6bc94;
    padding: 10px;
}

div.col.chk{
    max-width: 5%;
    align-items: center;
    display: flex;  
    justify-content: center;
    padding-right: 0px;
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
}
input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-color: var(--branco);
}
input[type=checkbox]:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-color:var(--destaque);
}
input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid var(--destaque);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}
div.col.envio{
    flex-grow: 0;
    align-self: center;
    display: flex;  

}

.cad-btn{
    color: var(--branco);
    background-color: var(--principal);
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 160px;
    font-family: Poppins-semibold;
    font-size: 20px;
}

.voltar{
    color: var(--principal);
    background-color: transparent;
    border: none;
    font-size: 18px;
}