<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../public/headers-footers.css">
  <link rel="stylesheet" type="text/css" href="../public/styles.css">

  <title>Green Go</title>
</head>

<body class="fundo-verde">
  <!-- CABEÇALHO -->
  <header class="cabecalho-index">
    <a href="home.html">
      <svg class="logo-greengo" height="125" viewBox="0 0 400 527" version="1.1" id="svg5" xml:space="preserve"
        inkscape:version="1.2 (dc2aedaf03, 2022-05-15)" sodipodi:docname="logo-greengo.svg"
        xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
        xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg"
        xmlns:svg="http://www.w3.org/2000/svg">

        <sodipodi:namedview id="namedview7" pagecolor="#505050" bordercolor="#eeeeee" borderopacity="1"
          inkscape:showpageshadow="0" inkscape:pageopacity="0" inkscape:pagecheckerboard="0"
          inkscape:deskcolor="#505050" inkscape:document-units="px" showgrid="false" inkscape:zoom="0.48337378"
          inkscape:cx="-124.12754" inkscape:cy="331.00679" inkscape:window-width="1366" inkscape:window-height="705"
          inkscape:window-x="-8" inkscape:window-y="-8" inkscape:window-maximized="1" inkscape:current-layer="layer1" />

        <defs id="defs2">

          <inkscape:path-effect effect="bspline" id="path-effect240" is_visible="true" lpeversion="1" weight="33.333333"
            steps="2" helper_size="0" apply_no_weight="true" apply_with_weight="true" only_selected="false" />
        </defs>

        <g inkscape:label="Camada 1" inkscape:groupmode="layer" id="layer1">
          <g inkscape:groupmode="layer" id="layer2" inkscape:label="outline" />

          <!-- COR DE PREENCHIMENTO !-->
          <path style="fill:#ebf0f1;stroke-width:1.17825"
            d="M 234.93773,496.23653 C 158.18222,456.00678 75.714595,315.57141 65.565635,224.79854 55.416665,134.02568 117.20628,49.062985 173.55751,33.247345 c 56.35124,-15.81565 107.24502,37.54068 118.90614,88.514695 11.66111,50.97402 -17.67879,105.67061 -45.24872,154.26387 25.02572,-17.62042 79.92558,-19.91245 80.61521,12.95421 0.89153,42.48944 -43.8128,107.65615 -109.11841,143.57422 6.07499,24.7995 10.28191,35.35888 16.226,63.68219 z"
            id="path465" sodipodi:nodetypes="cccccscc" />
        </g>
      </svg>
    </a>

    <nav class="cabecalho-index-menu">
      <a class="cabecalho-index-menu-item" href="campus.html"> Campus </a>
      <a class="cabecalho-index-menu-item" href="projeto.html"> Projeto </a>
      <a class="cabecalho-index-menu-item" href="registro.html"> Registro </a>
      <a class="cabecalho-index-menu-item" href="identificar.html"> Identificar </a>

      <a class="cabecalho-index-menu-itemB" href="login.php"> Entrar </a>
    </nav>
  </header>

  <h1 id="#apresentacao" class="titulo-chamada">
    Árvores do nosso IF
  </h1>

  <div class="imagem-celular">
    <img src="../public/celular-greengo.png" height="500px">
  </div>

  <br>
  <br>

  <!--RODAPE-->
  <footer>
    <iframe class="footer" src="footer.html" frameborder="0" width="100%" scrolling="no"></iframe>
  </footer>

</body>

</html>
