<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../models/styles.css">

    <title>Green Go</title>
</head>

<body>
    <!--CABEÇALHO-->
    <header>
        <iframe src="header-index.html" frameborder="0" width="100%" scrolling="no"></iframe>
    </header>

    <div class="imagem-celular">
        <img src="../images/celular-greengo.png" height="500px">
    </div>
    
    </div>
    <!--RODAPE-->
    <footer>
        <iframe class="footer" src="footer.html" frameborder="0" height="30px" width="100%" scrolling="no"></iframe>
    </footer>

</body>

</html>