<!DOCTYPE html>
<html lang="pt-br">

<!--
    No meu note essa versao ta com a imagem gigante
    Tem que ajustar tambem o botao do cabecalho (font-weight: 700; no style.css)
    Att, Alana
-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenGo</title>
    <!-- Fonte -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <!--scripts-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <!-- Progress bar -->
    <script src="js/progressbar.min.js"></script>
    <!-- Parallax -->
    <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>


</head>

<body id="fundoindex">
    <div id="header" class="active">
    <header>
        <div class="container" id="nav-container">
            
            <div id="itensmenu">
            <nav class="navbar navbar-expand-lg ">
                <a href="#" class="nav-brand">
                    <div class="row justify-content-md-left">
                        <svg class="logo-greengo" height="125" viewBox="0 0 400 527" version="1.1" id="svg5"
                        xml:space="preserve" inkscape:version="1.2 (dc2aedaf03, 2022-05-15)"
                        sodipodi:docname="logo-greengo.svg" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                        xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                        xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">

                        <sodipodi:namedview id="namedview7" pagecolor="#505050" bordercolor="#eeeeee" borderopacity="1"
                            inkscape:showpageshadow="0" inkscape:pageopacity="0" inkscape:pagecheckerboard="0"
                            inkscape:deskcolor="#505050" inkscape:document-units="px" showgrid="false"
                            inkscape:zoom="0.48337378" inkscape:cx="-124.12754" inkscape:cy="331.00679"
                            inkscape:window-width="1366" inkscape:window-height="705" inkscape:window-x="-8"
                            inkscape:window-y="-8" inkscape:window-maximized="1" inkscape:current-layer="layer1" />

                        <defs id="defs2">

                            <inkscape:path-effect effect="bspline" id="path-effect240" is_visible="true" lpeversion="1"
                                weight="33.333333" steps="2" helper_size="0" apply_no_weight="true"
                                apply_with_weight="true" only_selected="false" />
                        </defs>

                        <g inkscape:label="Camada 1" inkscape:groupmode="layer" id="layer1">
                            <g inkscape:groupmode="layer" id="layer2" inkscape:label="outline" />

                            <!-- COR DE PREENCHIMENTO !-->
                            <path style="fill:#ebf0f1;stroke-width:1.17825"
                                d="M 234.93773,496.23653 C 158.18222,456.00678 75.714595,315.57141 65.565635,224.79854 55.416665,134.02568 117.20628,49.062985 173.55751,33.247345 c 56.35124,-15.81565 107.24502,37.54068 118.90614,88.514695 11.66111,50.97402 -17.67879,105.67061 -45.24872,154.26387 25.02572,-17.62042 79.92558,-19.91245 80.61521,12.95421 0.89153,42.48944 -43.8128,107.65615 -109.11841,143.57422 6.07499,24.7995 10.28191,35.35888 16.226,63.68219 z"
                                id="path465" sodipodi:nodetypes="cccccscc" />
                        </g>
                    </svg>
                </a>
            </div>
           
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links"
                    aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-links">
                    <div class="navbar-nav">

                        <a class="nav-item nav-link" id="portfolio-menu"> Projeto </a>
                        <a class="nav-item nav-link" id="registro-menu"> Mapa</a>
                        <a class="nav-item nav-link" id="identificar-menu"> Jogar </a>
                        <a class="nav-item nav-link" id="botaoentrar" href="login.php">  Entrar </a>
                    </div>
                </div>
            </div>
            </nav>
            
        </div>
    </header>
</div>
    </body>
    <body id="fundoindex">
     <main>
        
            <div class="container-fluid">
                <div class="row justify-content-md-center">
                    <div id="about-area">
                    
                         <div class="row">
                             <div class="col">
                            
                                <h1><br><br>Está procurando <br> alguma planta? </h1>
                             
                         </div>
                     </div>
                    </div>  
                  
           </div>
       </div>
    
       <nav id="parte">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="d-xl-flex flex-column justify-content-xl-center align-items-xl-center" id="card">
                        <h3 class="d-xl-flex justify-content-xl-center align-items-xl-center" id="card-title">demon slayer</h3><img id="card-image" src="FORMICA-PLASTICA-CINZA-ESCURO-TX.webp">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="d-xl-flex flex-column justify-content-xl-center align-items-xl-center" id="card">
                        <h3 class="d-xl-flex justify-content-xl-center align-items-xl-center" id="card-title">Heading</h3><img id="card-image" src="FORMICA-PLASTICA-CINZA-ESCURO-TX.webp">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="d-xl-flex flex-column justify-content-xl-center align-items-xl-center" id="card">
                        <h3 class="d-xl-flex justify-content-xl-center align-items-xl-center" id="card-title">Heading</h3><img id="card-image" src="FORMICA-PLASTICA-CINZA-ESCURO-TX.webp">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="d-xl-flex flex-column justify-content-xl-center align-items-xl-center" id="card">
                        <h3 class="d-xl-flex justify-content-xl-center align-items-xl-center" id="card-title">Heading</h3><img id="card-image" src="FORMICA-PLASTICA-CINZA-ESCURO-TX.webp">
                    </div>
                </div>
            </div>
        </div>
  
   
       <div class="container" >
       <div class="row justify-content-md-left">
            <div id="home-dois">
                 <div class="row">
                    <div class="col">
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
    
    <div class="container">
        <div class="row justify-content-md-center">
            <div id="about-area">
            
                 <div class="row">
                     <div class="col">
                    
                        <h1>GreeGo é um projeto<br>de extensão...</h1>
                     <div class="col">
                        <p>Sobre cuidar e respeitar nossa área verde.</p>
                </div>
                     
                 </div>
             </div>
    </div>
    <div class="container">
        <div class="row justify-content-md-left">
            <div id="about-area">
            
                 <div class="row">
                     <div class="col">
                    
                        <h1>Em beve...</h1>
                        <h1>GreenGo</h1>
                        <h1>versão app!</h1>
                        <p>Se divirta descobrindo arvores do campus</p>
                </div>
                <div class="row">
                    <div class="col">
                   <ul><img src="/app/public/celular-greengo.png" alt="celular-greengo"></ul>
               </div>
                     
                 </div>
             </div>
            </div>
        </div>
    </div>
    </main>
    <script src="js/scripts.js"></script>
</body>

<section class="text-center content-section" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>me dá um oi</h2>
                <p>Este site foi feito para o IFPR, com muito amor, pela aluna das redes sociais abaixo:</p>
                <ul class="list-inline banner-social-buttons">
                    <li class="list-inline-item">&nbsp;<button class="btn btn-primary btn-lg btn-default" id="button-home" type="button"><i class="fa fa-facebook fa-fw"></i><span class="network-name">FAce</span></button></li>
                    <li class="list-inline-item">&nbsp;<button class="btn btn-primary btn-lg btn-default" id="button-home" type="button"><i class="fa fa-twitter fa-fw"></i><span class="network-name">&nbsp;Twitter</span></button></li>
                    <li class="list-inline-item">&nbsp;<button class="btn btn-primary btn-lg btn-default" id="button-home" type="button"><i class="fa fa-instagram fa-fw"></i><span class="network-name">&nbsp;insta</span></button></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container text-center">
        <p>Copyright ©&nbsp;Nickelodeon 2022</p>
    </div>
</footer>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/grayscale.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>
</html>

