<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../models/styles.css">
    <link rel="stylesheet" type="text/css" href="../models/styles-form.css">

    <title>Entrar</title>
</head>

<body class="fundo-branco">
    <div class="container">

        

		<form class="form-login" id="loginform" name="loginform" method="post" action="<!---->>">
            
            <h2 class="titulo-form" style="font-size:35pt;height:30px;">
                Entrar na conta
                
            </h2> <br>
            
            <label>E-mail</label>
            <br>
            <input class="input-form" type="text" style="font-size:18pt;height:40px;width:500px; margin-top: 3px; margin-bottom: 7px" name="email" autocomplete="off">
            <br>

            <label>Senha</label>
            <br>
            <input class="input-form" type="password" name="senhalogin" style="font-size:18pt;height:40px;width:500px;margin-top: 3px;margin-bottom: 7px;" name="email" autocomplete="off" >
            <br>
            <span>Esqueceu sua senha?</span>
            <br>

            <button class="entrar-btn">
				Entrar
			</button>

			<span>
                Novo por aqui? <a href="cadastro.html" class="link-cadastro">Cadastro</a>
            </span>
		</form>
	</div>	
</body>
</html>
