
<!--
    Adicionar:
        adaptar as cores da header (mudar o nome da class nos dois pra diferenciar)
        tirar style="color: #338a5f;" do header itens
        separar o form em tres colunas (todos os text ocupam duas colunas, tipo de planta e pontos ocupam uma coluna. duas colunas e a coluna do carregar imagem devem ter o mesmo comprimento)
        estilizar o carregar imagem
        estilizar o limpar-btn
        adicionar acao nos btn limpar e entrar?
        deixar o titulo do individuos menor
        substituir o text area por ckeditor ou semelhante
        vou adicionar uma imagem para o botao dos individuos
        ajustar o tamanho dos svg (copiar e mais)
        verificar se o carregar imagem esta aceitando so imagem - png jpg e jpeg
    Att, Alana
-->
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro!</title>
    <!-- Fonte -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/registro.css">
    <!--scripts-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <!-- Progress bar -->
    <script src="js/progressbar.min.js"></script>
    <!-- Parallax -->
    <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>

    <script src="js/registro.js"></script>
    <link rel="stylesheet" href="js/registro.js">
    <link rel="stylesheet" href="css/editorwys.css" type="text/css" media="all" />
		<script type="text/javascript" src="js/script.js"></script>
</head>

    
      <nav id="indexinteiro" >
      
          <div class="col-xs-12" id="nav-container">
              
              <div id="itensmenu">
                
              <nav class="navbar navbar-expand-lg " id="menu" >
                  <a href="#" class="nav-brand">
                      <div class="row justify-content-md-left" >
                        <div id="imgmenu">
                         <img class="img-responsive" src="../public/icone 3.svg" alt="" >
                        </div>
                      </div>
                  </a>
             
             
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links"
                      aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse justify-content-end" id="navbar-links">
                      <div class="navbar-nav" id="navbar-links">
  
                        <a class="nav-item nav-link" id="portfolio-menu"> Projeto </a>
                            <a class="nav-item nav-link" id="registro-menu"> Mapa</a>
                            <a class="nav-item nav-link" id="identificar-menu"> Jogar </a>
                            <a class="nav-item nav-link" id="identificar-menu"> Registro </a>
                            <a class="nav-item nav-link" id="identificar-menu"> Quiz </a>
                            <a class="nav-item nav-link" id="identificar-menu"> Equipes </a>
                            <a class="nav-item nav-link" id="botaoentrar" href="login.php">  Adm </a>
                      </div>
                  </div>
               
              </nav>
            </div>
              </div>
            
  </nav>
  <body>
    <main>
        <nav id="primeirotextoindex">
          <div class="container"  >
              <div class="row justify-content-md-left">

                  <div id="corpo-registro">
                  
                       <div class="row">
                           <div class="col">
       <h1 id="primeirotextoreg"> Registre uma espécie!</h1>
                           </div>
                       </div>

                       
                  <div class="container" id="reg1">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-row align-items-left">
                  
                                    <label for="formtexto" id="texto">Nome científico</label>
                                    <div class="w-100"></div>
                                    <input type="text" class="form-control" id="formtexto" aria-describedby="nome-cadastro">

                                    <label for="formtexto" id="texto">Nome popular</label>
                                    <div class="w-100"></div>
                                    <input type="text" class="form-control" id="formtexto" aria-describedby="nome-cadastro">
                                  </div>
                                  <label id="pontos">
                                    Pontos <br>
                                    <input class="input-form" type="number" min="0" name="field_pontos" autocomplete="off" >
                                </label> <br>
                               
                                   
                         </div>
                        
                            <div class="col-sm">
                                
                                    Carregue uma imagem <br>
                                  
                                      <label class="picture" for="picture__input" tabIndex="0">
  <span class="picture__image"></span>
</label>

<input type="file" name="picture__input" id="picture__input">
    <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-1b93190375e9ccc259df3a57c1abc0e64599724ae30d7ea4c6877eb615f89387.js"></script>

  
                            </div>

                        </div>
                        <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-row align-items-left">
                                    Atributos específicos <br>
                                   
                                        
                                    <div class="w-100"></div>
                                    <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Medicinal</label>
                                
                                    <div class="w-100"></div>
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Exotica</label>
                                    <div class="w-100"></div>
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Frutífera</label>
                                    <div class="w-100"></div>
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Tóxica</label>
                                  </div>
                                </div>
                            </div>
                        </div>
                        
                            <br>
                            <div class="container"  >
                                <div class="row justify-content-md-left">
                            <div id="dvCenterEditor">
                                <div id="bar">
                                    <button id="btn_new" class="btn"></button>
                                    <button id="btn_delete" class="btn"></button>
                                    
                                    <button id="btn_copy" class="btn margin"></button>
                                    <button id="btn_cut" class="btn"></button>
                                    <button id="btn_paste" class="btn"></button>
                                    
                                    <button id="btn_undo" class="btn margin"></button>
                                    <button id="btn_redo" class="btn"></button>
                                    
                                    <select id="slFonte" class="margin">
                                        <option value="courier">courier</option>
                                        <option value="Verdana">Verdana</option>
                                        <option value="Arial">Arial</option>
                                        <option value="Segoe">Segoe</option>
                                        <option value="Calibri">Calibri</option>
                                    </select>
                                    
                                    <select id="slSize" class=" margin">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                    </select>
                                    
                                    <button id="btn_bold" class="btn margin"></button>
                                    <button id="btn_italic" class="btn"></button>
                                    <button id="btn_underline" class="btn"></button>
                                    
                                    <button id="btn_color" class="btn  margin"></button>
                                    <button id="btn_paragraph" class="btn"></button>
                                    <button id="btn_left" class="btn"></button>
                                    <button id="btn_center" class="btn"></button>
                                    <button id="btn_right" class="btn"></button>
                                    <button id="btn_justify" class="btn"></button>
                                    
                                    <button id="btn_line" class="btn  margin"></button>
                                    <button id="btn_unordered" class="btn"></button>
                                    <button id="btn_ordered" class="btn"></button>
                                    
                                    <button id="btn_link" class="btn margin"></button>
                                    <button id="btn_link_break" class="btn"></button>
                                    
                                    <button id="btn_image" class="btn margin"></button>
                                    <button id="btn_audio" class="btn"></button>
                                    
                                    <button id="btn_select" class="btn margin"></button>
                                </div>
                                
                                <iframe id="Editor" name="Editor" ></iframe>
                                <textarea id="txtEditor" style="display:none;"></textarea>
                            </div>
                                </div>
                            </div>
                                </div>
                            </div>
                        </div>
                            </div>
                           
                      
                  
              
          
        </nav>
    </main>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/grayscale.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/registro.js"></script>
  </body>

</html>