<?php session_start(); //só copiei do cadastro
?>

<!--
    Adicionar:
        adaptar as cores da header (mudar o nome da class nos dois pra diferenciar)
        tirar style="color: #338a5f;" do header itens
        separar o form em tres colunas (todos os text ocupam duas colunas, tipo de planta e pontos ocupam uma coluna. duas colunas e a coluna do carregar imagem devem ter o mesmo comprimento)
        estilizar o carregar imagem
        estilizar o limpar-btn
        adicionar acao nos btn limpar e entrar?
        deixar o titulo do individuos menor
        substituir o text area por ckeditor ou semelhante
        vou adicionar uma imagem para o botao dos individuos
        ajustar o tamanho dos svg (copiar e mais)
        verificar se o carregar imagem esta aceitando so imagem - png jpg e jpeg
    Att, Alana
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/styles.css">
    <link rel="stylesheet" type="text/css" href="../public/styles-form.css">

    <title>Registro de Espécies</title>
</head>

<body class="fundo-branco">
    
    <header class="">
        <div class="container" id="nav-container">
            
            <div id="itensmenu">
            <nav class="navbar navbar-expand-lg ">
                <a href="#" class="nav-brand">
                    <div class="row justify-content-md-left">
                        <svg class="logo-greengo" height="125" viewBox="0 0 400 527" version="1.1" id="svg5"
                        xml:space="preserve" inkscape:version="1.2 (dc2aedaf03, 2022-05-15)"
                        sodipodi:docname="logo-greengo.svg" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                        xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                        xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">

                        <sodipodi:namedview id="namedview7" pagecolor="#505050" bordercolor="#eeeeee" borderopacity="1"
                            inkscape:showpageshadow="0" inkscape:pageopacity="0" inkscape:pagecheckerboard="0"
                            inkscape:deskcolor="#505050" inkscape:document-units="px" showgrid="false"
                            inkscape:zoom="0.48337378" inkscape:cx="-124.12754" inkscape:cy="331.00679"
                            inkscape:window-width="1366" inkscape:window-height="705" inkscape:window-x="-8"
                            inkscape:window-y="-8" inkscape:window-maximized="1" inkscape:current-layer="layer1" />

                        <defs id="defs2">

                            <inkscape:path-effect effect="bspline" id="path-effect240" is_visible="true" lpeversion="1"
                                weight="33.333333" steps="2" helper_size="0" apply_no_weight="true"
                                apply_with_weight="true" only_selected="false" />
                        </defs>

                        <g inkscape:label="Camada 1" inkscape:groupmode="layer" id="layer1">
                            <g inkscape:groupmode="layer" id="layer2" inkscape:label="outline" />

                            <!-- COR DE PREENCHIMENTO !-->
                            <path style="fill:#338a5f;stroke-width:1.17825"
                                d="M 234.93773,496.23653 C 158.18222,456.00678 75.714595,315.57141 65.565635,224.79854 55.416665,134.02568 117.20628,49.062985 173.55751,33.247345 c 56.35124,-15.81565 107.24502,37.54068 118.90614,88.514695 11.66111,50.97402 -17.67879,105.67061 -45.24872,154.26387 25.02572,-17.62042 79.92558,-19.91245 80.61521,12.95421 0.89153,42.48944 -43.8128,107.65615 -109.11841,143.57422 6.07499,24.7995 10.28191,35.35888 16.226,63.68219 z"
                                id="path465" sodipodi:nodetypes="cccccscc" />
                        </g>
                    </svg>
                </a>
            </div>
           
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links"
                    aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-links">
                    <div class="navbar-nav">

                        <a class="nav-item nav-link" id="about-menu" style="color: #338a5f;"> Campus </a>
                        <a class="nav-item nav-link" id="portfolio-menu" style="color: #338a5f;"> Projeto </a>
                        <a class="nav-item nav-link" id="registro-menu" style="color: #338a5f;"> Registro </a>
                        <a class="nav-item nav-link" id="identificar-menu" style="color: #338a5f;"> Identificar </a>
                        <a class="nav-item nav-link" id="botaoentrar" href="login.php" style="color: #338a5f;">  Entrar </a>
                    </div>
                </div>
            </div>
            </nav>
            
        </div>
    </header>

    <div class="container">

        <div id="#registro">
            <form class="form-registro" id="registroform" name="registroform" method="post" action="../controllers/userController.php?action=create">
                <h2 class="titulo-form">
                Registre uma espécie!
                </h2> <br>

                <?php if(isset($_SESSION['msg_erro'])): ?>
                <span> <?= $_SESSION['msg_erro'] ?> </span>
                <?php endif ?>

                <br/> 
                
                <label>
                    Nome científico <br>
                    <input class="input-form" type="text" name="field_nomeCientifico" autocomplete="off">
                </label> <br>

                <label>
                    Nome popular <br>
                    <input class="input-form" type="text" name="field_nomePopular" autocomplete="off" >
                </label> <br>

                <label>
                    Tipo de planta <br>
                    <select name="field_tipoPlanta">
                        <option value="arvore"> Árvore </option>
                        <option value="erva"> Erva </option>
                        <option value="panc"> PANC </option>
                        <option value="suculenta"> Suculenta </option>
                    </select>
                </label> <br>

                <label>
                    Pontos <br>
                    <input class="input-form" type="number" min="0" name="field_pontos" autocomplete="off" >
                </label> <br>

                <label>
                    Atributos específicos <br>
                    <select name="field_atributos">
                        <option value="medicinal"> Medicinal </option>
                        <option value="exótica"> Exótica </option>
                        <option value="ornamental"> Ornamental </option>
                        <option value="frutifera"> Frutífera </option>
                        <option value="toxica"> Tóxica </option>
                    </select>
                </label> <br>

                <label>
                    Carregue uma imagem <br>
                    <input class="input-form" type="file" name="field_imagem" accept="image/png, image/gif, image/jpeg" > <br>
                    <span> .png, .jpg ou .jpeg </span>
                    <span> tamanho mínimo: 2MB </span>
                    <span> tamanho máximo: 5MB </span> <!--estao espacados embaixo da caixa da imagem-->
                </label> <br>

                <label>
                    Texto descritivo <br>
                    <input class="input-form" type="textarea" name="field_descricao" autocomplete="off" >
                </label> <br>

        </div>
        <br>
    </div>
    

    <div id="#individuos">

            <h2 class="titulo-form">
            Adicione indivíduos
            </h2> <br>

            <!--
                <?php if(isset($_SESSION['msg_erro'])): ?>
            <span> <?= $_SESSION['msg_erro'] ?> </span>
            <?php endif ?>
            -->

            <br/> 
            
            <button>
                <img src="../public/mais.svg">
            </button>

            <label>
                Zona <br>
                <select name="field_zona">
                    <option value="1"> 1 </option>
                    <option value="2"> 2 </option>
                    <option value="3"> 3 </option>
                    <option value="4"> 4 </option>
                    <option value="5"> 5 </option>
                </select>
            </label> <br>

            <label>
                Código Numérico <br>
                <input class="input-form" type="text" name="field_codNumerico" autocomplete="off" >
            </label> <br>

            <button>
                <img src="../public/copiar.svg">
                Copiar link
            </button>
            
            <!--FIM DOS FORMS-->
        
            <div>
                <button class="entrar-btn me-auto">
                    Salvar
                </button>

                <button class="limpar-btn me-auto">
                    Limpar
                </button>
            </div>

        </form>
    </div>

</body>

</html>
