<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCLE</title>

    <!--FAVICON-->
    <link rel="icon" href="../public/favicon.svg">
    <!-- Fonte -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/termos.css">
    <!--scripts-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <!-- Progress bar -->
    <script src="js/progressbar.min.js"></script>
    <!-- Parallax -->
    <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>
</head>

<nav id="indexinteiro">

    <div class="col-xs-12" id="nav-container">

        <div id="itensmenu">

            <nav class="navbar navbar-expand-lg " id="menu">
                <a href="index.html" class="nav-brand">
                    <div class="row justify-content-md-left">
                        <div id="imgmenu">
                            <img class="img-responsive" src="../public/logo-green.svg" alt="">
                        </div>
                    </div>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links"
                    aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </nav>
        </div>
    </div>
</nav>

<body class="fundo-branco">
    <form method="post">
    <div class="container">
        <h2 class="titulo">
            Termo de Consentimento Livre e Esclarecido
        </h2>

        <p>
            Título do estudo: <b>GREEN GO: GAMIFICAÇÃO DA IDENTIFICAÇÃO DE PLANTAS DO IFPR</b> <br><br>

            Pesquisador responsável: <b>Marcela Turim Koschevic</b> <br><br>

            Responsáveis pelo desenvolvimento do sistema: <b>Alana Brandão de Oliveira, Maria Eduarda de Oliveira
                Becker,
                Maria Eduarda Heck Souza Benedito e Nicolly Tavassi de Souza</b> <br><br>

        <ol type="I">
            <li>Eu, Marcela Turim Koschevic, responsável pela pesquisa <b>Green Go: Gamificação da Identificação de
                    Plantas
                    do IFPR</b>, informo que os dados relativos à participação no sistema Green Go serão tabulados e
                analisados.</li>
            <br>

            <li>Por meio da pesquisa citada pretende-se desenvolver e utilizar em atividades de extensão voltadas para a
                educação
                ambiental um sistema web gamificado para identificação “etnobotânica” das plantas do campus, com o
                intuito de promover
                o conhecimento e envolver a comunidade local com o meio acadêmico. Para o desenvolvimento desta pesquisa
                os dados relativos
                ao conjunto de respostas dos participantes serão avaliados quanto ao processo de aprendizagem dos
                estudantes no que se refere a
                identificação das plantas do campus.</li>
            <br>

            <li>Sendo sua participação voluntária, você não receberá benefício financeiro. Os gastos necessários para a
                sua participação na pesquisa
                serão assumidos pelos pesquisadores.</li>
            <br>

            <li>É possível que aconteçam os seguintes desconfortos ou riscos durante a participação no jogo: cansaço ou
                acidentes como tombos em
                circunstâncias de corridas. Desta forma, caso ocorra algum problema decorrente de sua participação na
                pesquisa, você terá
                acompanhamento e assistência dos condutores do jogo, de forma gratuita.</li>
            <br>

            <li>Os benefícios que esperamos como estudo são fazer com que os participantes do jogo possam aprender a
                reconhecer e valorizar a flora local.</li>
            <br>

            <li>Você tem garantida a possibilidade de se retirar ao excluir sua conta a qualquer momento, sem nenhum
                tipo de prejuízo pela sua decisão.</li>
            <br>

            <li>Durante todo o período do jogo você terá a possibilidade de tirar qualquer dúvida ou pedir qualquer
                outro esclarecimento. Para isso, entre
                em contato com algum dos condutores do jogo.</li>
            <br>

            <li>As informações pessoais dos participantes do jogo não serão divulgadas, mas os dados relativos ao uso do
                jogo poderão divulgadas em eventos
                ou publicações, sem a identificação dos participantes.</li>
            <br>
        </ol>
        </p>

        <div class="assinatura">
            <div class="row justify-content-md-left">
                <div class="col chk">
                    <input name="conc_termos" type="checkbox" class="chk" value="conf" required></input>
                </div>

                <div class="col">
                    Li o <b>Termo de Consentimento Livre e Esclarecido</b> e estou suficientemente informado,
                        ficando
                        claro que minha participação é voluntária. Estou
                        ciente também dos objetivos da pesquisa, dos possíveis danos ou riscos deles provenientes e
                        da
                        garantia de confidencialidade. Diante do exposto e
                        de espontânea vontade, expresso minha concordância em participar da pesquisa Green Go:
                        Gamificação da Identificação de Plantas do IFPR.
                    
                </div>
            </div>
        </div>
        <br>

        <div class="row justify-content-md-left">
            <div class="col envio">
                <button type="submit" href="index.html" class="btn btn-primary cad-btn">Cadastrar</button>
            </div>

            <div class="col envio">
                <button class="voltar"> Voltar</button>
            </div>

        </div>
        <br>

        </form>
    </div>
</form>
</body>

</html>
